
    <main>
        <section id="mydetailmainsection">
             <h1>DETAIL</h1>
        </section>

        <section style="display: flex;justify-content: center;">
            <div style="width: 80%; border: none;" class="card">
                <div class="row g-0">
                  <div class="col-5 col-sm-4">
                    <img src="assets/images/h14-shop-img-3-594x787.jpg" class="img-fluid w-100" alt="card-horizontal-image">
                     <div style="padding-top: 2rem;" class="card-group">
                        <div class="card">
                          <img src="assets/images/shop-img-8-768x1013.jpg" class="card-img-top" alt="card-group-image">
                        </div>
                        <div class="card">
                          <img src="assets/images/shop-img-9-768x1013.jpg" class="card-img-top" alt="card-group-image">
                        </div>
                        <div class="card">
                          <img src="assets/images/shop-img-10-768x1013.jpg" class="card-img-top" alt="card-group-image">
                        </div>
                      </div>
                  </div>
                  <div class="col-7 col-sm-8">
                    <div class="card-body">
                      <h2 class="card-title">Various Poster</h2>
                      <p>
                        <span class="simple-star fa fa-star checked"></span>
                        <span class="simple-star fa fa-star checked"></span>
                        <span class="simple-star fa fa-star checked"></span>
                        <span class="simple-star fa fa-star"></span>
                        <span class="simple-star fa fa-star"></span>
                      </p>
                      <p class="card-text"><small class="text-muted">$130.00</small></p>
                      <div class="btn-2">
                        <a href=""><span>Complete Order</span></a>
                      </div>
                      <div>
                        <h4 style="color: #212529;padding-top: 2rem;">Info</h4>
                        <p style="color: #6c6c6c;" class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac elit mauris. Nam laoreet lacus et porttitor pellentesque. Fusce tellus quam, hendrerit a accumsan eu, fermentum at ligula. Nulla lorem lorem, placerat gravida est eget, fermentum posuere turpis. Etiam at sodales purus. Nam consectetur felis ac blandit aliquet. Nulla in vehicula libero.</p>
                      </div>
                      <!-- Tabs or Pills can be used in a card with the help of .nav-{tabs|pills} and .card-header-{tabs|pills} classes -->
                        <div style="border: none;padding-top: 3rem;" class="card">
                            <div style="background-color: white;" class="card-header">
                            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                <a style="color: black;" class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                <a style="color: black;" class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Aditional Information</a>
                                </li>
                                <li class="nav-item">
                                <a style="color: black;" class="nav-link" id="disabled-tab" data-bs-toggle="tab" href="#disabled" role="tab" aria-controls="disabled" tabindex="-1" aria-disabled="true">Reviews</a>
                                </li>
                            </ul>
                            </div>
                            <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi alias praesentium illo omnis adipisci ipsa suscipit rerum quidem doloribus magnam?</div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div>
                                        <button style="height: 6rem;
                                        width: 15rem;
                                    background-color: white;border-color: #cdcdcd;">Weight</button>
                                    <button style="height: 6rem;
                                    width: 15rem;
                                    background-color: white;border-color: #cdcdcd;margin-left: -5px;">20 lbs</button>
                                    </div>
                                   <div>
                                    <button style="height: 6rem;
                                    width: 15rem;
                                    background-color: white;border-color: #cdcdcd;">Dimention</button>
                                    <button style="height: 6rem;
                                    width: 15rem;
                                    background-color: white;border-color: #cdcdcd;margin-left: -5px;">20 x 10 in</button>
                                   </div>
                                </div>
                                <div class="tab-pane fade" id="disabled" role="tabpanel" aria-labelledby="disabled-tab">
                                    <h5>1 review for Various Posters</h5>
                                    <div style="border: none; padding-top: 2rem;" class="card">
                                        <div class="row g-0">
                                            <div class="col-2 col-sm-2">
                                              <img style="width: 100% !important;" src="assets/images/4f64c9f81bb0d4ee969aaf7b4a5a6f40.png" class="img-fluid w-100" alt="card-horizontal-image">
                                            </div>
                                            <div class="col-10 col-sm-10">
                                              <div style="position: relative;" class="card-body">
                                                <h5 style="margin-bottom: -11px;" class="card-title">Mark Johnson</h5>
                                                <p class="card-text"><small style="font-size:13px; margin-top:-1rem;" class="text-muted">January 11, 2017</small></p>
                                                <div style="display: flex;
                                                justify-content: end;
                                                position: absolute;
                                                margin-left: 25rem;
                                                margin-top: -4rem;">
                                                    <span class="simple-star fa fa-star checked"></span>
                                                    <span class="simple-star fa fa-star checked"></span>
                                                    <span class="simple-star fa fa-star checked"></span>
                                                    <span class="simple-star fa fa-star"></span>
                                                    <span class="simple-star fa fa-star"></span>
                                                </div>
                                               
                                                <span>Mean afacilisis urbanitas moderatius id.</span> 
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h4 style="color: #212529;padding-top: 2rem;">Add a Review</h4>
                                    <h5 style="color: #212529;padding-top: 2rem;">Your Raiting</h5>
                                    <form action="#" method="post">
                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                        <h5 style="color: #212529;padding-top: 4rem;margin-left: 0rem;">Your Message</h5>
                                        <textarea name="" id="review-text-area" cols="30" rows="10"></textarea>
                                        <input id="myauthor" name="author" type="text" value="" size="30" aria-required="true" placeholder="Your Name*">
                                        <input id="myemail" name="email" type="text" value="" size="30" aria-required="true" placeholder="Your Email*">
                                        <button type="submit" class="btn-flip" data-back="Send" data-front="Message"></button>
                                    </form>
                                   
                                </div>
                            </div>
                            </div>
                        </div>
                      
                    </div>
                    </div>
                  </div>
                </div>
              </div>
        </section>
        <hr style="margin-top: 7rem;" class="container">
        <section id="detail-product-section">
            
            <div class="row row-cols-4 fix-row-x headline container">
                <div class="col">
                    <div class="card mx-3 cards-border portret-image-hover">
                        <img src="assets/images/h14-shop-img-1-594x787.jpg" class="card-img-top" alt="card-group-image">
                        <a href="#" class="my-add-hover"><span>Add To Wish List</span></a>
                        <div class="card-body card-texts">
                          <h5 class="card-title">Black and white world</h5>
                          <small>Graphic Print, Work</small> 
                          <p class="card-text card-prices">$150.00</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mx-3 cards-border portret-image-hover">
                        <img src="assets/images/h14-shop-img-2-594x787.jpg" class="card-img-top" alt="card-group-image">
                        <a href="#" class="my-add-hover"><span>Add To Wish List</span></a>
                        <div class="card-body card-texts">
                          <h5 class="card-title">Yellow rain</h5>
                          <small>Graphic Print, Work</small> 
                          <p class="card-text card-prices">$40.00</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mx-3 cards-border portret-image-hover">
                        <img src="assets/images/h14-shop-img-3-594x787.jpg" class="card-img-top" alt="card-group-image">
                        <a href="#" class="my-add-hover"><span>Add To Wish List</span></a>
                        <div class="card-body card-texts">
                          <h5 class="card-title">Various Posters</h5>
                          <small>Graphic Print, Work</small> 
                          <p class="card-text card-prices">$120.00</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mx-3 cards-border portret-image-hover">
                        <img src="assets/images/h14-shop-img-7-594x787.jpg" class="card-img-top" alt="card-group-image">
                        <a href="#" class="my-add-hover"><span>Add To Wish List</span></a>
                        <div class="card-body card-texts">
                          <h5 class="card-title">In The Mind</h5>
                          <small>Graphic Print, Work</small> 
                          <p class="card-text card-prices">$130.00</p>
                        </div>
                    </div>
                </div>
        </section>
    </main>
