#priloader{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9;
    background:white url(/assets/gifs/807.gif) no-repeat center center;
    /* background-size: 30%; */
}

::selection {
  background-color: black;
  color: white;
}

.color-white{
    color: white !important;
}

.display-flex{
    display: flex !important;
    justify-content: space-around !important;
}

.navbar-logo{
    width: 2rem;
}

.slide-images{
    height: 34rem;
}

.for-header{
    position: relative;
    z-index: 30;
}

.slider-position{
    bottom: 56px;
}

.slide-text{
    bottom: 13.25rem !important; 
}

.slider-h5{
    font-size: 5.25rem !important;
}

.slider-p{
    font-size: 1.6rem;
}

.cards-border{
    border: none !important;
}

.card-texts{
    text-align: center;
}

.card-prices{
    font-weight: bold;
    font-size: 1.5rem;
}

.fix-row-x{
    --bs-gutter-x: 0 !important;
}

.home-parallax{
    text-align: center;
    align-items: center;
    padding-top: 9rem;

    h5{
        font-size: 4rem;
        color: white;
    }

    p{
        color: white;
        font-size: 1.3rem;
    }
}

.footer-first-section{
    background-color: #131313;
    min-height: 39rem;

    h5{
        color: white;
    }

    p{
        color: white;
    }
}

.home-footer-div{
    position: absolute;
    margin-top: 10rem !important;
    margin-left: 7rem;
}

.footer-news-images{
    border-radius: 100%;
    width: 3rem;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.containerr{
	max-width: 1170px;
	margin:auto;
}
.roww{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #131313;
    padding: 70px 0;
}
.footer-coll{
   width: 25%;
   padding: 0 15px;
}
.footer-coll h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-coll h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: white;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-coll ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-coll ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-coll ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-coll .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-coll .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-coll{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-coll{
    width: 100%;
}
}



*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  $openSans: 'Open Sans', Helvetica, Arial, sans-serif;
  body {
    background: #333;
    font-family: $openSans;
  }
  
  .buttons {
    margin-top: 50px;
    text-align: center;
    border-radius:30px;
  }
  
  $cyan: black;
  $dark: #FFFFFF;
  $borderW: 2px;
  
  .blob-btn {
    $numOfBlobs: 4;
    z-index: 1;
    position: relative;
    padding: 20px 46px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $cyan;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
    border-radius:30px;
    
    &:before {
      content: "";
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius:30px;
    }
    
    &:after {
      content: "";
      z-index: -2;
      position: absolute;
      left: $borderW*1.5;
      top: $borderW*1.5;
      width: 100%;
      height: 100%;
  
      transition: all 0.3s 0.2s;
      border-radius:30px;
    }
    
    &:hover {
      color: $dark;
      border-radius:30px;
      
      &:after {
        transition: all 0.3s;
        left: 0;
        top: 0;
        border-radius:30px;
      }
    }
    
    &__inner {
      z-index: -1;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius:30px;
      background:#ffffff;
    }
    
    // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
    &__blobs {
      position: relative;
      display: block;
      height: 100%;
      filter: url('#goo');
    }
    
    &__blob {
      position: absolute;
      top: $borderW;
      width: 100% / $numOfBlobs;
      height: 100%;
      background: $cyan;
      border-radius: 100%;
      transform: translate3d(0,150%,0) scale(1.7);
      transition: transform 0.45s;
      
      @supports(filter: url('#goo')) {
        transform: translate3d(0,150%,0) scale(1.4);
      }
      
      @for $i from 1 through $numOfBlobs {
        &:nth-child(#{$i}) {
          left: ($i - 1) * (120% / $numOfBlobs);
          transition-delay: ($i - 1) * 0.08s;
        }
      }
      
      .blob-btn:hover & {
        transform: translateZ(0) scale(1.7);
        
        @supports(filter: url('#goo')) {
          transform: translateZ(0) scale(1.4);
        }
      }
    }
    
  }


.fnt-families{
    a{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    a:hover{
        color: grey !important;
    }
}

#my-search-input{
    width: 100%;
    padding: 1rem;
    border:none;
    display: none;
}

#my-search-input:focus{
     border: none;
     outline: none;
}

#my-ex-btn{
    font-size: 1.3rem;
    color: black;
    display: none;
    position: relative;
    margin-left: 82rem;
    top: 1.2rem;
}

#my-ex-btn:hover{
    cursor: pointer;
}


#my-scroll-navbar{
    background-color: white !important;
    position: fixed;
    z-index: 40;
    width: 100%;
    transition: top 0.3s;
    display: none;

    a{
        color: black !important;
    }
}

.my-add-hover{
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 8.7rem;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    transition: 0.2s;

    span{
        display: none;
    }
}

.my-add-hover:hover{
    background-color: #4d4d4d;
    color: white;
}

.my-add-hover-span{
    height: 100%;
    margin-top: 0rem;
    transition: 0.2s;
}

.portret-image-hover:hover{

    cursor: pointer;
    .my-add-hover{
        height: 9%;

        span{
            display: block;
        }
    }
    
    .my-add-hover-span{
        margin-top: 1.4rem;
    }
}




  
  #wishlist {
    height: 100vh;
    width: 25%;
    background-color: white;
    position: fixed;
    z-index: 70;
    right: -25%;
    top: 0;
    transition: right 0.5s ease-out;
    overflow: hidden;
    // overflow-y: scroll;
  }

  #wishlist-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-item {
    width: 33.33%;
    padding: 10px;
    text-align: center;
  }
  
  .product-item-img {
    width: 100%;
  }
  
  .a-box {
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;
    height: 77%;
    width:69%;
  }
  
  .img-container {
    height: 65%;
    width: 92%;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
  }
  
  .img-container img {
    transform: skew(0deg, -13deg);
    height: 115%;
    width: 133%;
    margin: -35px 0px 0px -70px;
  }
  
  .inner-skew {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 0px;
    transform: skew(0deg, 13deg);
    font-size: 0px;
    margin: 30px 0px 0px 0px;
    background: #c8c2c2;
    height: 100%;
    width: 100%;
}
  
  .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
  }
  
  .text-container h3 {
    margin: 20px 0px 10px 0px;
    color: #303030;
    font-size: 18px;
  }
  
  .containerrr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }
  
  .top-section {
    overflow-y: auto;
    flex-grow: 1;
  }
  
  .bottom-section {
    height: 24%;
    flex-shrink: 0;
  }


  
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }

.background-img { 
    background: url(https://res.cloudinary.com/damqsjjsn/image/upload/v1641672204/landscapewLight_wdbhno.png)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200vh;
}

#wrap {
  text-align: center; 
  z-index: 10;
  }

h1 {
  position: relative;
  color: #fff;
  font-size: 50px;
  letter-spacing: 1.5px;
  padding: 70px 0px 30px;
}

p {
  font-family: 'Nunito Sans';
  font-size: 24px;
  color: #fff;
}

.fa { font-size: 19px; width: 20px; }

.btn-slide { 
    position: relative;
    display: inline-block; 
    height: 50px;
    width: 260px;
    line-height: 50px;
    margin: 11px 0;
    padding: 0px;
    border-radius: 25px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,0.7);
    background: linear-gradient(135deg, black 0%,white 100%);
        }
        
.btn-slide:active { 
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0,0.7);
    -webkit-transform: scale(0.98);
    transform: scale(0.96); }
    
.btn-slide:hover { 
    background: linear-gradient(-135deg, black 0%,white 100%); }
        
.btn-slide span.circle { 
    display: block;
    background-color: #fff;
    color: black;
    position: absolute;
    margin: 5px;
    height: 40px; 
    width: 40px;
    top: 0; left: 0;
    border-radius: 50%;
    transition: all 1.5s ease;
 }
        
.btn-slide:hover span.circle { 
    left: 100%;
    margin-left: -45px;
    background-color: black;
    color: white; }
        
.btn-slide span.title { 
    font-family: 'Nunito Sans';
    position: absolute;
    left: 85px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    transition: all 1.5s linear; 
 }
        
.btn-slide span.title-hover { opacity: 0;}
.btn-slide:hover span.title { opacity: 0; }
.btn-slide:hover span.title-hover { opacity: 1; left: 60px; }   
    
@media (max-width: 540px) {
  h1 { font-size: 36px; }
  p { font-size: 20px; }
  
  .btn-slide { width: 240px; }
}


#heart-icon2:hover{
    cursor: pointer;
}

.my-lord-icon{
  width: 27%;
  height: 22%;
  position: absolute;
  right: -0.5rem;
}

.my-lord-icon:hover{
  cursor: pointer;
}

.img-inner{
  position: relative;
  height: 100%;
  width: 100%;
}

#upBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 1.2rem;
    background-color: #131313;
    border: none;
    transition: 0.3s background-color;
}


#scrollbtnicon{
    color: white;
    font-size: 120%;
    transition: 0.3s color;
}

#mydetailmainsection{
    position: relative;
    bottom: 4rem;
    background-repeat: round;
    background-image: url(/assets/images/pages-parallax-img-4.jpg);
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 7rem;
        padding: 24%;
    }
}

#myauctionmainsection {
    position: relative;
    bottom: 4rem;
    background-repeat: round;
    background-image: url(/assets/images/pages-parallax-img-20a.jpg);
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 7rem;
        padding: 24%;
    }
}

.simple-star{
    color: grey;
}

.checked{
    color: black !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 24px;
  }
  
  
  /* Created by http://grohit.com/  */
  .btn-2 a {
    text-decoration: none;
    border: 2px solid #010100;
    padding: 15px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
  }
  
  span {
    position: relative;
    /* z-index coz when we put bg to before and after this span text will not be visible */
    z-index: 3;
  }
  
  /* Button 1 styles */
  
  .btn-1 a::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -2px;
    width: calc(100% + 6px);
    /*100% plus double the times left values*/
    height: calc(100% - 10px);
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
    transform: scaleY(1);
  }
  
  .btn-1 a:hover::before,
  .btn-2 a:hover::before {
    transform: scaleY(0);
  }
  
  .btn-1 a::after {
    content: "";
    position: absolute;
    left: 5px;
    top: -5px;
    width: calc(100% - 10px);
    /*100% plus double the times left values*/
    height: calc(100% + 10px);
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
    transform: scaleX(1);
  }
  /* Created by http://grohit.com/  */
  
  .btn-1 a:hover::after,
  .btn-2 a:hover::after {
    transform: scaleX(0);
  }
  
  /* Button 2 styles */
  
  .btn-2 a {
    color: #ffffff;
    transition: all 0.5s ease-in-out;
  }
  
  .btn-2 a:hover {
    color: #000000;
    transition: all 0.5s ease-in-out;
  }
  
  .btn-2 a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: all 0.5s ease-in-out;
    transform: scaleY(1);
  }
  
  .btn-2 a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: all 0.5s ease-in-out;
    transform: scaleX(1);
  }
  
  /* Created by http://grohit.com/  */
 

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: black;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: black;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: black;
}


#review-text-area{
    width: 80%;
    padding: 17px 23px;
    border: 1px solid transparent;
    outline: 0;
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    background-color: #eeebeb;
    color: #818181;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-transition: all 125ms cubic-bezier(0,0,.58,1);
    -moz-transition: all 125ms cubic-bezier(0,0,.58,1);
    transition: all 125ms cubic-bezier(0,0,.58,1);
    resize: none;
}

#review-text-area:focus{
   border: none;
   outline: none;
}

#review-text-area::placeholder{
    padding: 1rem;
}


#myauthor{
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 14px;
    padding: 17px 23px;
    border: 1px solid transparent;
    outline: 0;
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    background-color: #f6f6f6;
    color: #818181;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-transition: all 125ms cubic-bezier(0,0,.58,1);
    -moz-transition: all 125ms cubic-bezier(0,0,.58,1);
    transition: all 125ms cubic-bezier(0,0,.58,1);
    resize: none;
}

#myemail{
    width: 80%;
    margin-top: 0;
    margin-bottom: 14px;
    padding: 17px 23px;
    border: 1px solid transparent;
    outline: 0;
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    background-color: #f6f6f6;
    color: #818181;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-transition: all 125ms cubic-bezier(0,0,.58,1);
    -moz-transition: all 125ms cubic-bezier(0,0,.58,1);
    transition: all 125ms cubic-bezier(0,0,.58,1);
    resize: none;
}

  
  $speed: 0.5s;
  
  .btn-flip{
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans';
    text-transform: uppercase;
    border: none;
    width: 25%;
    
    &:hover{
      
      &:after{
        opacity: 1;
        transform: translateY(0) rotateX(0);
      }
      
      &:before{
        opacity: 0;
        transform: translateY(50%) rotateX(90deg);
      }
    }
    
    &:after{
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      color: #323237;
      display: block;
      transition: $speed;
      position: absolute;
      background: #adadaf;
      content: attr(data-back);
      transform: translateY(-50%) rotateX(90deg);
    }
    
    &:before{
      top: 0;
      left: 0;
      opacity: 1;
      color: #adadaf;
      display: block;
      padding: 0 30px;
      line-height: 40px;
      transition: $speed;
      position: relative;
      background: #323237;
      content: attr(data-front);
      transform: translateY(0) rotateX(0);
    }
  }


  #detail-product-section{
    padding-top: 7rem;
    display: flex;
    justify-content: center;
    
    p{
        color: black;
        margin-top: 1rem;
    }
    
    small{
        margin-bottom: 1rem;
    }
  }


#myportretsections2{
    p{
        color: #303030;
        margin-top: 1rem;
    }

    small{
        margin-bottom: 1rem;
    }
}

#myportretsections{
    P{
        color: #303030;
        margin-top: 1rem;
    }

    small{
        margin-bottom: 1rem;
    }
}

.slide-images{
  height: 40rem;
}


@media (min-width: 576px){
  .col-sm-3 {
    flex: 0 0 auto;
    width: 50% !important;
}
}


@media (min-width: 1200px){
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25% !important;
}
}

// @media (min-width: 992px){
//   .col-lg-3 {
//     flex: 0 0 auto;
//     width: 33% !important;
// }
// }

// @media (min-width: 768px){
//   .col-md-3 {
//     flex: 0 0 auto;
//     width: 50% !important;
// }
// }


#myaboutusmainsection{
  background-image: url(/assets/images/pages-img-8.jpg);
  text-align: center;
  position: relative;
  bottom: 4rem;
  padding-bottom: 8rem;
  h1{
    font-size: 130px;
    padding-top: 12rem;
  }
}


@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgb(0 0 0 / 13%);
    /* height: 100px; */
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 5rem;
    margin-bottom: 10rem;
    margin-top: 7rem;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}


.myaboutusimages{
  border-radius: 50% !important;
}




@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


.myaccountnormalbtns{
  padding: 25px 30px;
  background-color: #050801;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  
}

.myaccountnormalbtns:hover{
    background: white;
    color: #050801;
    box-shadow: 0 0 5px white,
                0 0 25px white,
                0 0 50px white,
                0 0 200px white;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}


.my-account-tabs{
  border-bottom: 1px solid #131313 !important;
  color: #131313 !important;
  width: 70%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff !important; 
  background-color: #131313 !important;
}


#formFileMultiple::-webkit-file-upload-button {
  background-color:black;
  border:none;
  color:white;
}

#formFileMultiple2::-webkit-file-upload-button {
    background-color: black;
    border: none;
    color: white;
}

#my-v-pills-messages{
//   $c_0: #000000;
// $c_1: #353540;

// // Basic reset

// .l-container {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   grid-gap: 30px;
//   width: 100%;
//   max-width: 1200px;
//   padding: 30px;
  
//   @media screen and (max-width: 760px) {
//     grid-template-columns: repeat(2, 1fr);
//   }
  
// }

// .b-game-card {
//   position: relative;
//   z-index: 1;
//   width: 100%;
//   padding-bottom: 150%;
//   perspective: 1000px;
  
//   &__cover {
//     position: absolute;
//     z-index: 1;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
//     background-size: cover;
//     perspective-origin: 50% 50%;
//     transform-style: preserve-3d;
//     transform-origin: top center;
//     will-change: transform;
//     transform: skewX(.001deg);
//     transition: transform .35s ease-in-out;
    
//     // Gloss 
    
//     &::after {
//       display: block;
//       content: '';
//       position: absolute;
//       z-index: 100;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 120%;
//       background: linear-gradient(226deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 35%, rgba(255,255,255,0.2) 42%, rgba(255,255,255,0) 60%);
//       transform: translateY(-20%);
//       will-change: transform;
//       transition: transform .65s cubic-bezier(0.18, 0.9, 0.58, 1);
//     }
    
//   }
  
//   &:hover &__cover {
//     transform: rotateX(7deg) translateY(-6px);

//     &::after {
//       transform: translateY(0%);
//     }
    
//   }
  
//   // Shadows
  
//   &::before {
//     display: block;
//     content: '';
//     position: absolute;
//     top: 5%;
//     left: 5%;
//     width: 90%;
//     height: 90%;
//     background: rgba($c_0, 0.5);
//     box-shadow: 0 6px 12px 12px rgba($c_0, 0.4);
//     will-change: opacity;
//     transform-origin: top center;
//     transform: skewX(.001deg);
//     transition: transform .35s ease-in-out, opacity .5s ease-in-out;
//   }
  
//   &:hover::before {
//     opacity: 0.6;
//     transform: rotateX(7deg) translateY(-6px) scale(1.05);
//   }
  
  
// }

///////////////////////////////////////////////////////


.abs,
h2:after,
.cards .card figcaption,
.cards .card:after,
.news .card figcaption,
.news .card:after,
.news .article figcaption {
  position: absolute;
}
.rel,
h2,
h2 strong,
.cards .card,
.news .card,
.news .article {
  position: relative;
}
.fix {
  position: fixed;
}
.dfix {
  display: inline;
}
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.dn {
  display: none;
}
.df,
.cards,
.news {
  display: flex;
}
.dif {
  display: inline-flex;
}
.dg {
  display: grid;
}
.dig {
  display: inline-grid;
}
.vm,
h2,
h2 strong,
h2 span {
  vertical-align: middle;
}
body {
  background: #24282f;
  font-family: 'Alegreya Sans';
}
.wrapper {
  padding: 15px;
}
h2 {
  padding: 10px;
  padding-left: 25px;
  color: #ccc;
  margin: 0;
}
h2 strong {
  z-index: 2;
  background: black;
  padding: 4px 8px;
}
h2 span {
  font-size: 0.7em;
  color: #aaa;
  margin-left: 10px;
}
h2:after {
  content: '';
  z-index: 1;
  bottom: 50%;
  margin-bottom: -2px;
  height: 2px;
  left: 0;
  right: 0;
  background: #373d47;
}
.cards,
.news {
  flex-flow: row wrap;
}
.cards .card,
.news .card {
  margin: 20px;
  width: 27%;
  height: 16.875rem;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,0.8);
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition: 0.3s;
}
.cards .card img,
.news .card img {
  width: 100%;
  min-height: 100%;
}
.cards .card figcaption,
.news .card figcaption {
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.25rem;
  padding-bottom: 0.625rem;
  font-size: 1.25rem;
  background: none;
  color: #fff;
  transform: translateY(100%);
  transition: 0.3s;

  a{
    color: white;
  }
}
.cards .card:after,
.news .card:after {
  content: '';
  z-index: 10;
  width: 200%;
  height: 100%;
  top: -90%;
  left: -20px;
  opacity: 0.1;
  transform: rotate(45deg);
  background: linear-gradient(to top, transparent, #fff 15%, rgba(255,255,255,0.5));
  transition: 0.3s;
}
.cards .card:hover,
.news .card:hover,
.cards .card:focus,
.news .card:focus,
.cards .card:active,
.news .card:active {
  box-shadow: 0 8px 16px 3px rgba(0,0,0,0.6);
  transform: translateY(-3px) scale(1.05) rotateX(15deg);
}
.cards .card:hover figcaption,
.news .card:hover figcaption,
.cards .card:focus figcaption,
.news .card:focus figcaption,
.cards .card:active figcaption,
.news .card:active figcaption {
  transform: none;
}
.cards .card:hover:after,
.news .card:hover:after,
.cards .card:focus:after,
.news .card:focus:after,
.cards .card:active:after,
.news .card:active:after {
  transform: rotate(25deg);
  top: -40%;
  opacity: 0.15;
}
.news .article {
  overflow: hidden;
  width: 350px;
  height: 235px;
  margin: 20px;
}
.news .article img {
  width: 100%;
  min-height: 100%;
  transition: 0.2s;
}
.news .article figcaption {
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(51,51,51,0.3);
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  background: rgba(6,18,53,0.6);
  opacity: 0;
  transform: scale(1.15);
  transition: 0.2s;
}
.news .article figcaption h3 {
  color: #3792e3;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: bold;
}
.news .article:hover img,
.news .article:focus img,
.news .article:active img {
  filter: blur(3px);
  transform: scale(0.97);
}
.news .article:hover figcaption,
.news .article:focus figcaption,
.news .article:active figcaption {
  opacity: 1;
  transform: none;
}



}



#v-pills-wishlist{
  .my-add-hoveer{
    height: 0;
    width: 100%;
    position: absolute;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    div{
        p{
          font-size:100%;
          color: transparent;
        }
        small{
          color: transparent;
        }
        h5{
          color: transparent;
        }
       display: none;
    }
}

.my-add-hoveer:hover{
    background-color: black;
    color: white;
}

.my-add-hoveer-span{
    height: 100%;
    margin-top: 0rem;
    transition: 0.2s;
}

.portret-image-hoveer:hover{

    cursor: pointer;
    .my-add-hoveer{
        height: 100%;

        div{
          p{
            font-size:100%;
            color: white;
          }
          small{
            color: white;
          }
          h5{
            color: white;
          }
          display: block;
        }
    }
    
    .my-add-hoveer-span{
        margin-top: 1.4rem;
    }
}

}



@media (width < 992px){
   #my-scroll-navbar{
    display: none !important;
   }
   #heart-icon {
    display: none;
  }
#my-search-button{
display: none;
}
#my-account-icon-responsive{
  display: none;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: absolute;
  right: 1%;
  background-color: white;
}
}



.searchcontainerillustration {
    text-decoration: none;
    transition:0.5s;
}

.searchcontainerillustration:hover {
    background-color: #cfcfcf;
}
