
@model ForgotPasswordViewModel

    <link rel="stylesheet" href="~/assets/css/Login.css">
 
    <main> 
        <section style="background-color: #131313;position: relative;bottom: 3.5rem;"> 
            <h1 class="container">Illustrator</h1>
        </section>
        <section style="display: flex; justify-content: center;">
            <div class="row container">
                <h1 style="color: #131313;">Forgot Password</h1>
                <div class="col">
                    <form method="post">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="Max">
                            <label asp-for="Email">Email</label>
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <button style="width: 15%;background-color:#22262a;" type="submit" class="btn btn-dark">Reset</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
  