
    <main>
        <section id="mydetailmainsection">
             <h1>Shop</h1>
        </section>
        <section class="container">
            <div class="row">
                <div class="col-md-8">
                    <div style="width: 98%;" class="d-flex justify-content-between">
                        <h6 class="my-shop-h6">SHOWING 1–12 OF 17 RESULTS</h6>
                        <form class="my-first-shop-form" action="" method="get">
                            <select class="form-select my-shop-select-frist" aria-label="Default select">
                                <option selected="">Default Sorting <i style="color: #ababab" class="las la-angle-down"></i></option>
                                <option value="1">Short by Popularity</option>
                                <option value="2">Sort by avarage raiting</option>
                                <option value="3">Sort by Latest</option>
                                <option value="3">Sort by Price:Low to high</option>
                                <option value="3">Sort by Price:high to low</option>
                            </select>
                        </form>    
                    </div>
                    <div id="myportretsections" class="row row-cols-3 fix-row-x headline">
                        <div class="col">
                            <div class="card mx-3 cards-border portret-image-hover">
                                <img src="~/assets/images/h14-shop-img-1-594x787.jpg" class="card-img-top" alt="card-group-image">
                                <a href="#" class="my-add-hover"><span>Add To Wish List</span></a>
                                <div class="card-body card-texts">
                                <h5 class="card-title">Various Posters</h5>
                                <small>Graphic Print, Work</small> 
                                <p class="card-text card-prices">$120.00</p>
                            </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mx-3 cards-border portret-image-hover">
                                <img src="~/assets/images/h14-shop-img-2-594x787.jpg" class="card-img-top" alt="card-group-image">
                                <a href="#" class="my-add-hover"><span>Add To Wish List</span></a>
                                <div class="card-body card-texts">
                                <h5 class="card-title">Various Posters</h5>
                                <small>Graphic Print, Work</small> 
                                <p class="card-text card-prices">$120.00</p>
                            </div>
                               </div>
                        </div>
                        <div class="col">
                            <div class="card mx-3 cards-border portret-image-hover">
                                <img src="~/assets/images/h14-shop-img-3-594x787.jpg" class="card-img-top" alt="card-group-image">
                                <a href="#" class="my-add-hover"><span>Add To Wish List</span></a>
                                <div class="card-body card-texts">
                                <h5 class="card-title">Various Posters</h5>
                                <small>Graphic Print, Work</small> 
                                <p class="card-text card-prices">$120.00</p>
                            </div>
                        </div>
                        </div>
                        <div class="col">
                            <div class="card mx-3 cards-border portret-image-hover">
                                <img src="~/assets/images/h14-shop-img-7-594x787.jpg" class="card-img-top" alt="card-group-image">
                                <a href="#" class="my-add-hover"><span>Add To Wish List</span></a>
                                <div class="card-body card-texts">
                                <h5 class="card-title">Various Posters</h5>
                                <small>Graphic Print, Work</small> 
                                <p class="card-text card-prices">$120.00</p>
                            </div>
                        </div>
                        </div>
                        <div class="col">
                            <div class="card mx-3 cards-border portret-image-hover">
                                <img src="~/assets/images/h14-shop-img-5-594x787.jpg" class="card-img-top" alt="card-group-image">
                                <a href="#" class="my-add-hover"><span>Add To Wish List</span></a>
                                <div class="card-body card-texts">
                                <h5 class="card-title">Various Posters</h5>
                                <small>Graphic Print, Work</small> 
                                <p class="card-text card-prices">$120.00</p>
                            </div>
                        </div>
                        </div>
                        <div class="col">
                            <div class="card mx-3 cards-border portret-image-hover">
                                <img src="~/assets/images/h14-shop-img-6-594x787.jpg" class="card-img-top" alt="card-group-image">
                                <a href="#" class="my-add-hover"><span>Add To Wish List</span></a>
                                <div class="card-body card-texts">
                                <h5 class="card-title">Various Posters</h5>
                                <small>Graphic Print, Work</small> 
                                <p class="card-text card-prices">$120.00</p>
                            </div>
                        </div>
                        </div>
                        <div class="col">
                            <div class="card mx-3 cards-border portret-image-hover">
                                <img src="~/assets/images/h14-shop-img-9-594x787.jpg" class="card-img-top" alt="card-group-image">
                                <a href="#" class="my-add-hover"><span>Add To Wish List</span></a>
                                <div class="card-body card-texts">
                                <h5 class="card-title">Various Posters</h5>
                                <small>Graphic Print, Work</small> 
                                <p class="card-text card-prices">$120.00</p>
                            </div>
                        </div>
                        </div>
                        <div class="col">
                            <div class="card mx-3 cards-border portret-image-hover">
                                <img src="~/assets/images/h14-shop-img-8-594x787.jpg" class="card-img-top" alt="card-group-image">
                                <a href="#" class="my-add-hover"><span>Add To Wish List</span></a>
                                <div class="card-body card-texts">
                                <h5 class="card-title">Various Posters</h5>
                                <small>Graphic Print, Work</small> 
                                <p class="card-text card-prices">$120.00</p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Search</h5>
                    <hr>
                    <form method="get" id="searchform" action="https://illustrator.qodeinteractive.com/">
                        <div class="search__container">
                            <input style="margin-bottom: 3rem;" class="search__input" type="text" placeholder="Search">
                        </div>                        
                    </form>
                    <h5>Filter by Price</h5>
                    <hr>
                    <div class="price-range-slider">
                        <p class="range-value">
                          <input type="text" id="amount" readonly>
                        </p>
                        <div id="slider-range" class="range-bar"></div>
                    </div>
                    <div style="height: 15%;" class="buttons">
                        <button style="margin-top: 3rem;" class="blob-btn">
                        Filter
                        <span class="blob-btn__inner">
                            <span class="blob-btn__blobs">
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            <span class="blob-btn__blob"></span>
                            </span>
                        </span>
                        </button>
                        <br>
                    
                         <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <defs>
                        <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                            <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                        </filter>
                        </defs>
                        </svg>
                   </div>
                   <h5>Product Categories</h5>
                   <hr>
                   <h5 class="my-shop-categories-h5"><a class="my-shop-categories" href="#">Book</a></h5>
                   <h5 class="my-shop-categories-h5"><a class="my-shop-categories" href="#">Art</a></h5>
                   <h5 class="my-shop-categories-h5"><a class="my-shop-categories" href="#">Drawing</a></h5>
                   <h5 class="my-shop-categories-h5"><a class="my-shop-categories" href="#">Work</a></h5>
                   <h5 class="my-shop-categories-h5"><a class="my-shop-categories" href="#">Handmade</a></h5>
                   <h5 style="padding-bottom:4rem;" class="my-shop-categories-h5"><a class="my-shop-categories" href="#">Graphic Print</a></h5>
                   <h5>Tags</h5>
                   <hr>
                   <!-- flex-wrap can be used for responsive cases as well with the help of .flex-{sm|md|lg|xl|xxl}-wrap class -->
                    <div style="padding-bottom: 3rem;" class="d-flex flex-wrap bd-highlight">
                        <div class="my-shop-Tags p-2 bd-highlight">Flex </div>
                        <div class="my-shop-Tags p-2 bd-highlight">Flex item faeefaef</div>
                        <div class="my-shop-Tags p-2 bd-highlight">Flex item</div>
                        <div class="my-shop-Tags p-2 bd-highlight">Flex</div>
                        <div class="my-shop-Tags p-2 bd-highlight">Flex item faeefaef</div>
                        <div class="my-shop-Tags p-2 bd-highlight">Flex item</div>
                        <div class="my-shop-Tags p-2 bd-highlight">Flex</div>
                    </div>
                    <h5>Folow us</h5>
                    <hr>
                    <div id="my-shop-icons-div">
                        <i class="lab la-twitter"></i>
                        <i class="lab la-facebook-f"></i>
                        <i class="lab la-instagram"></i>
                        <i class="lab la-linkedin-in"></i>
                    </div>
                   
                </div>
            </div>
        </section>
    </main>
