
    <main>
        <section id="myaboutusmainsection">
             <h1>About us</h1>
        </section>
        <section>
            <div style="border: none;" class="card">
                <div class="row g-0">
                  <div class="col-6 col-sm-6">
                    <img style="border-radius: 10%;" src="~/assets/images/Moonknight312442_a_picture_like_this_but_colorless_and_in_the_p_69967137-6af8-49df-aae1-bd13998fba78.png" class="img-fluid w-100" alt="card-horizontal-image">
                  </div>
                  <div class="col-6 col-sm-6">
                    <div class="card-body">
                      <h5 class="card-title">Our goals are to win market</h5>
                      <div style="border: none;padding-top: 1rem;" class="card">
                        <div style="background-color: white;" class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                            <a style="color: black;" class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Drawing</a>
                            </li>
                            <li class="nav-item" role="presentation">
                            <a style="color: black;" class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Sketching</a>
                            </li>
                            <li class="nav-item">
                            <a style="color: black;" class="nav-link" id="disabled-tab" data-bs-toggle="tab" href="#disabled" role="tab" aria-controls="disabled" tabindex="-1" aria-disabled="true">Review</a>
                            </li>
                        </ul>
                        </div>
                        <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi alias praesentium illo omnis adipisci ipsa suscipit rerum quidem doloribus magnam?</div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi alias praesentium illo omnis adipisci ipsa suscipit rerum quidem doloribus magnam?
                            </div>
                            <div class="tab-pane fade" id="disabled" role="tabpanel" aria-labelledby="disabled-tab">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi alias praesentium illo omnis adipisci ipsa suscipit rerum quidem doloribus magnam?

                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
        </section>
        <section>
            <div class="slider">
                <div class="slide-track">
                    <div class="slide">
                        <img src="~/assets/images/carousel-img-1.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="~/assets/images/carousel-img-2.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="~/assets/images/carousel-img-3.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="~/assets/images/carousel-img-4.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="~/assets/images/carousel-img-5.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="~/assets/images/carousel-img-3.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="~/assets/images/carousel-img-1.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="~/assets/images/carousel-img-2.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="~/assets/images/carousel-img-4.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="~/assets/images/carousel-img-1.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="~/assets/images/carousel-img-3.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="~/assets/images/carousel-img-5.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="~/assets/images/carousel-img-2.png" height="100" width="250" alt="" />
                    </div>
                    <div class="slide">
                        <img src="~/assets/images/carousel-img-1.png" height="100" width="250" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <section>
              <div id="myportretsections" class="row fix-row-x headline">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="card mx-3 cards-border portret-image-hover">
                        <img src="~/assets/images/lalisa.jpg" class="myaboutusimages card-img-top" alt="card-group-image">
                        <div class="card-body card-texts">
                        <h5 class="card-title">Lalisa Manobal</h5>
                        <small>Marketing manager</small> 
                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at felis aliquam.</small>
                        <div class="social-links pt-3">
                            <a href="#"><i style="color: black;" class="fab fa-facebook-f"></i></a>
                            <a href="#"><i style="color: black;" class="fab fa-twitter"></i></a>
                            <a href="#"><i style="color: black;" class="fab fa-instagram"></i></a>
                            <a href="#"><i style="color: black;" class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="card mx-3 cards-border portret-image-hover">
                        <img src="~/assets/images/jisoo3 -edit.jpg" class="myaboutusimages card-img-top" alt="card-group-image">
                        <div class="card-body card-texts">
                        <h5 class="card-title">Kim Jisoo</h5>
                        <small>Designer</small> 
                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at felis aliquam.</small>
                        <div class="social-links pt-3">
                            <a href="#"><i style="color: black;" class="fab fa-facebook-f"></i></a>
                            <a href="#"><i style="color: black;" class="fab fa-twitter"></i></a>
                            <a href="#"><i style="color: black;" class="fab fa-instagram"></i></a>
                            <a href="#"><i style="color: black;" class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                       </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="card mx-3 cards-border portret-image-hover">
                        <img src="~/assets/images/jennie2 -edit.jpg" class="myaboutusimages card-img-top" alt="card-group-image">
                        <div class="card-body card-texts">
                        <h5 class="card-title">Jennie Kim</h5>
                        <small>Developer</small> 
                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at felis aliquam.</small>
                        <div class="social-links pt-3">
                            <a href="#"><i style="color: black;" class="fab fa-facebook-f"></i></a>
                            <a href="#"><i style="color: black;" class="fab fa-twitter"></i></a>
                            <a href="#"><i style="color: black;" class="fab fa-instagram"></i></a>
                            <a href="#"><i style="color: black;" class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div class="card mx-3 cards-border portret-image-hover">
                        <img src="~/assets/images/rosee4.jpg" class="myaboutusimages card-img-top" alt="card-group-image">
                        <div class="card-body card-texts">
                        <h5 class="card-title">Roseanne Park</h5>
                        <small>Administrator</small> 
                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at felis aliquam.</small>
                        <div class="social-links pt-3">
                            <a href="#"><i style="color: black;" class="fab fa-facebook-f"></i></a>
                            <a href="#"><i style="color: black;" class="fab fa-twitter"></i></a>
                            <a href="#"><i style="color: black;" class="fab fa-instagram"></i></a>
                            <a href="#"><i style="color: black;" class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </main>
