
    <main>
        <section style="margin-bottom: -4rem;" id="mydetailmainsection">
            <h1>BLOG</h1>
        </section>
        <section class="container">
            <div style="--bs-gutter-x:0;" class="row row-cols-1">
                <div class="col d-flex justify-content-center pt-5">
                    <img style="width: 100%;" src="~/assets/images/blog-standard-img-2.jpg" alt="">
                </div>
                <div class="col pt-3">
                    <h3>A Moment of Truth</h3>
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer auctor fringilla lacus vitae egestas. In feugiat laoreet risus id venenatis. Cras sed dui purus. Pellentesque ac leo non ipsum congue dictum finibus in ante. Aliquam molestie velit vitae nulla fermentum posuere. Proin vel felis id nisl interdum varius. Aliquam nec sem dictum, dignissim mi dapibus, euismod ligula. Suspendisse diam sapien, ultrices et suscipit at, fermentum at lorem. Sed mattis scelerisque nisi. Ut molestie volutpat ultricies....</small>
                    <hr>
                    <small style="color:#565656;">JANUARY 15, 2017ADMININ ART, DESIGN</small>
                </div>
                <div class="col pt-5">
                    <img style="width: 100%;" src="~/assets/images/blog-standard-img-6.jpg" alt="">
                </div>
                <div class="col pt-3">
                    <h3>Desing is all</h3>
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer auctor fringilla lacus vitae egestas. In feugiat laoreet risus id venenatis. Cras sed dui purus. Pellentesque ac leo non ipsum congue dictum finibus in ante. Aliquam molestie velit vitae nulla fermentum posuere. Proin vel felis id nisl interdum varius. Aliquam nec sem dictum, dignissim mi dapibus, euismod ligula. Suspendisse diam sapien, ultrices et suscipit at, fermentum at lorem. Sed mattis scelerisque nisi. Ut molestie volutpat ultricies....</small>
                    <hr>
                    <small style="color:#565656;">JANUARY 15, 2017ADMININ ART, DESIGN</small>
                </div>
                <div class="col pt-5">
                    <div style="background-color: #303030;">
                        <div style="padding: 5rem;text-align: center;">
                            <i style="font-size: 160%;background-color: white;border-radius: 50%;padding: 1rem;margin-bottom: 3%;" class="las la-quote-right"></i>
                            <p>You will find what you need in one of our fully equipped demos. Easy to import, they make your life easier.</p>
                            <p style="font-size: 88%;">PATRIC CASTILLO</p>
                        </div>
                    </div>
                </div>
                <div class="col pt-5">
                    <img style="width: 100%;" src="~/assets/images/blog-standard-img-9.jpg" alt="">
                </div>
                <div class="col pt-3">
                    <h3>Power of Art</h3>
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer auctor fringilla lacus vitae egestas. In feugiat laoreet risus id venenatis. Cras sed dui purus. Pellentesque ac leo non ipsum congue dictum finibus in ante. Aliquam molestie velit vitae nulla fermentum posuere. Proin vel felis id nisl interdum varius. Aliquam nec sem dictum, dignissim mi dapibus, euismod ligula. Suspendisse diam sapien, ultrices et suscipit at, fermentum at lorem. Sed mattis scelerisque nisi. Ut molestie volutpat ultricies....</small>
                    <hr>
                    <small style="color:#565656;">JANUARY 15, 2017ADMININ ART, DESIGN</small>
                </div>
                <div class="col pt-5 pb-5">
                    <div style="background-color: #303030;">
                        <div style="padding: 3rem;text-align: center;">
                            <i style="font-size: 160%;background-color: white;border-radius: 50%;padding: 1rem;margin-bottom: 3%;" class="las la-quote-right"></i>
                            <p>
                                You will find what you need in one of our fully equipped demos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
