
@model ContactMessage

    <main>
        <section style="margin-bottom: -4rem;" id="mydetailmainsection">
            <h1>Contact Us</h1>
        </section>
        <section>
            <div style="--bs-gutter-x: 0;" class="row">
                <div style="background-color: #3b3b3b;" class="col-md-4 d-flex flex-column justify-content-center text-center">
                    <div class="mx-3">
                        <h1>Who we are</h1>
                        <p style="font-size: 1.22rem;">Lorem ipsum dolor sit amet, consectetur adipisc ing elit. Etiam fermentum nulla ac tincidunt male suada. Sed volutpat semper elit quis pharetra.</p>
                    </div>
                    <div style="height: 15%;" class="buttons">
                        <button style="margin-top: 3rem;" class="blob-btn">
                            Read More
                            <span class="blob-btn__inner">
                                <span class="blob-btn__blobs">
                                    <span class="blob-btn__blob"></span>
                                    <span class="blob-btn__blob"></span>
                                    <span class="blob-btn__blob"></span>
                                    <span class="blob-btn__blob"></span>
                                </span>
                            </span>
                        </button>
                        <br>

                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                            <defs>
                                <filter id="goo">
                                    <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                                    <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                                </filter>
                            </defs>
                        </svg>
                    </div>
                </div>
                <div style="background-color: #151515;" class="col-md-4 d-flex flex-column justify-content-center text-center">
                    <div class="mx-3">
                        <h1>What we do</h1>
                        <p style="font-size: 1.22rem;">Lorem ipsum dolor sit amet, consectetur adipisc ing elit. Etiam fermentum nulla ac tincidunt male suada. Sed volutpat semper elit quis pharetra.</p>
                    </div>
                    <div style="height: 15%;" class="buttons">
                        <button style="margin-top: 3rem;" class="blob-btn">
                            Read More
                            <span class="blob-btn__inner">
                                <span class="blob-btn__blobs">
                                    <span class="blob-btn__blob"></span>
                                    <span class="blob-btn__blob"></span>
                                    <span class="blob-btn__blob"></span>
                                    <span class="blob-btn__blob"></span>
                                </span>
                            </span>
                        </button>
                        <br>

                        <!-- <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <defs>
                        <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                            <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                        </filter>
                        </defs>
                        </svg> -->
                    </div>
                </div>
                <div style="background-color: #242424;" class="col-md-4 d-flex flex-column justify-content-center text-center">
                    <div class="mx-3">
                        <h1>Work with us</h1>
                        <p style="font-size: 1.22rem;">Lorem ipsum dolor sit amet, consectetur adipisc ing elit. Etiam fermentum nulla ac tincidunt male suada. Sed volutpat semper elit quis pharetra.</p>
                    </div>
                    <div style="height: 15%;" class="buttons">
                        <button style="margin-top: 3rem;" class="blob-btn">
                            Read More
                            <span class="blob-btn__inner">
                                <span class="blob-btn__blobs">
                                    <span class="blob-btn__blob"></span>
                                    <span class="blob-btn__blob"></span>
                                    <span class="blob-btn__blob"></span>
                                    <span class="blob-btn__blob"></span>
                                </span>
                            </span>
                        </button>
                        <br>

                        <!-- <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <defs>
                        <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                            <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                        </filter>
                        </defs>
                        </svg> -->
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div style="border: none; align-items: center; padding: 8rem 0;" class="card">
                <div style="width: 70%;" class="row g-0">
                    <div style="height:32rem;" class="col-5 col-sm-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12157.71469426235!2d49.8539455!3d40.3771909!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d079efb5163%3A0xc20aa51a5f0b5e01!2sCode%20Academy!5e0!3m2!1sen!2s!4v1675368958958!5m2!1sen!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="col-7 col-sm-6">
                        <div style="padding: 0rem 1rem;" class="card-body">
                            <h2 class="card-title">Feel free to contact</h2>
                            <p style="color: #828282;
                      font-size: 17px;
                      line-height: 29px;
                      font-weight: 400;" class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum nulla ac tincid-unt males. Sed volutpat semper elit quis pharetra. Phasellus at vestibulum mauris. Etiam et mauris.</p>
                            <form method="post">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <div class="form-floating mb-3">
                                        <input asp-for="Email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                        <label asp-for="Email">Email</label>
                                        <span class="text-danger" asp-validation-for="Email"></span>
                                    </div>
                                }
                                <div style="margin-top: 1rem;" class="form-floating">
                                    <textarea asp-for="Text" class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px;margin-bottom: 2rem;"></textarea>
                                    <label asp-for="Text">Message</label>
                                    <span class="text-danger" asp-validation-for="Text"></span>
                                </div>
                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                <button style="width: auto;" type="submit" class="btn-flip" data-back="Send" data-front="Message"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
